
.pos-botton{
    background-image: url('/images/Light_blue_button.png'); background-repeat: no-repeat;
    background-position: center; background-size: cover
}
.bg-header{
    background-image: url('/images/header.jpg');
    background-repeat: no-repeat;
    background-position: center; background-size: cover
}
.row.content {height: 760px; }

.panel-total{
    height:auto; padding: 5px;width: 100%;
}
.theme-bg{
    background-color:#2A3F54!important;color: white   ;
}
.sidenav {
    background-color: #f1f1f1;
    height: auto;
}
.food-list{
    cursor: pointer;
}
.foodlist::-webkit-scrollbar {
    width: 10px;
}
.foodlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.foodlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.food-order-list::-webkit-scrollbar {
    width: 10px;
}
.food-order-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.food-order-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* report saler==*/
.food-order-list-report::-webkit-scrollbar {
    width: 10px;
}
.food-order-list-report::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.food-order-list-report::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* On small screens, set height to 'auto' for the grid */
@media only screen
and (min-width: 765px)
and (max-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .row.content {height: 760px;}
    .foodlist{height: 705px; overflow-y: auto;}
    .food-order-list-report{height: 530px; overflow-y: auto;}
    .pro_lists{
        width: 100%;height: 735px;
    }
    .food-order-list{
        width: 100%;height: 480px; overflow-y: auto;
    }
    .list-order{
        width: 100%;height: auto ;
    }
    .list-total{
        width: 100%;height: 120px;

        background-image: url('/images/bg-total.png'); background-repeat: no-repeat;
        background-position: center; background-size: cover
    }
    .foodName{
        font-size: 10px!important;
        cursor: pointer;
        height: 55px;
    }

}
@media screen and (min-width: 1200px) {
    .row.content {height: 940px;}
    .foodlist{height: 870px; overflow-y: auto;}
    .food-order-list-report{height: 700px; overflow-y: auto;}
    .pro_lists{
        width: 100%;height:auto;
    }
    .food-order-list{
        width: 100%;height: 670px; overflow-y: auto;
    }
    .list-order{
        width: 100%;height: auto;
    }
    .list-total{
        width: 100%;max-height: 120px;
        background-image: url('/images/bg-total.png'); background-repeat: no-repeat;
        background-position: center; background-size: cover
    }
    .foodName{
        font-size: 13px!important;
        cursor: pointer;
        height: 80px;
    }

}